input{
  background-color: $color-background-secondary;
  color: inherit;
  font-size: inherit;
  border: inherit;

}

textarea{
  background-color: $color-background-secondary;
  color: inherit;
  border: inherit;
  resize:  vertical;
  
}

.text_input{
  width: 100%;

}

.title_input{

}
